# Ignore Logs
*.log

# Ignore Python Cache
__pycache__
*.pyc

# Ignore HACS
custom_components/hacs/*

# Ignore Legacy
CodeArchive

# Ignore HomeAssistant Userdata
.cloud
.storage
.vscode
.ios.conf
.ring_cache.pickle
.uuid
deps
downloads
secrets.yaml
home-assistant.*
*.db
tmp
frozen_inference_graph.pb
ToDo